.comments-container {
    background: #fff;
    max-width: 450px;
    width: 100%;
    border-radius: 4px;
    padding: 25px;
    margin: 20px 0;
}

.comment-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e6e6e6;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-content {
    margin-left: 50px;
    word-wrap: break-word;
}

.delete-icon {
    margin-left: auto;
}
