/* Landing.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .column {
    display: flex;
    flex-direction: column;
    margin: 0 10px; 
  }
  .row {
    margin: 10px 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
/* 
  .row-h1 {
    
  } */
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }