#post-container {
    width: 90vw;
}

#cats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.delete-icon {
    align-self: flex-end;
    cursor: pointer;
    color: red;
    margin-bottom: 10px;
}
