img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-black {
    background: #000;
}

/* Smallest big screen */
.skill-block {
    width: 30%;
}

/* Medium big screen */
@media (min-width: 991px) and (max-width: 1200px) {
    .skill-block {
        padding: 32px !important;
    }
}

/* Big big screen */
@media (min-width: 1200px) {
    .skill-block {
        padding: 56px !important;
    }
}

body {
    background-color: #eeeeee;
}

.container {
    margin-top: -8rem;
}
/* Small screens */
@media (max-width: 768px) {
    body .container {
        margin-top: 70px !important;
    }
}

.ctg-following {
    background-color: #343a40;
    transition: background 0.2s ease;
}

.ctg-following:hover {
    background-color: #575757 !important;
}
