.profile-picture-container {
    text-align: center;
}

.profile-picture {
    position: relative;
    width: 25rem;
    max-width: 90vw;
    border-radius: 50%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
}
.upload-button:hover {
    background-color: rgba(19, 19, 19, 0.5);
}

.upload-button input {
    display: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}

body {
    background-color: #eeeeee;
}
