.profile-picture-container {
    text-align: center;
}

/* Smallest big screen */
.profile-picture {
    position: relative;
    width: 14.5rem;
    height: 26.75rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Medium big screen */
@media (min-width: 991px) and (max-width: 1200px) {
    .profile-picture {
        width: 20.3rem;
        height: 24.6rem;
    }
}

/* Big big screen */
@media (min-width: 1200px) {
    .profile-picture {
        width: 23.3rem;
        height: 22.65rem;
    }
}

/* Small screens */
@media (max-width: 768px) {
    .profile-picture {
        width: 26.8rem;
        height: 23.3rem;
    }
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
}

.upload-button input {
    display: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}
