.vh100 {
    height: 100vh;
}

.card {
    border-radius: 25px;
    margin-top: 170px;
    margin-bottom: 50px;
    width: 90vw;
    max-width: 60rem;
}

@media (max-width: 768px) {
    .card {
        margin-top: -30px;
        width: 90vw;
    }
}

.formLabel {
    margin-bottom: 0.5rem;
}

.iconContainer i {
    font-size: 1.5rem;
}

.btnDark {
    background-color: #343a40;
    border: none;
}

.btnDark:hover {
    background-color: #23272b;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilePictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .profilePictureContainer {
        order: -1;
        margin-bottom: 2rem;
    }
}
